#clock {
	font-family: 'Space Mono';
	color: #00ffe5;
	position: relative;
	text-align: center;
	font-size: 700%;
	margin-top: 15%;
}

#date {
	font-family: 'Space Mono';
	color: #00ffe5;
	text-align: center;
	position: relative;
	font-size: 200%;
}

body {
	background: #303030;
}